@font-face {
  font-family: 'Gill Sans W04 Book';
  src: url('./assets/fonts/c4be5717-c19c-43a5-9ad3-b548ddf070d4.eot');
  src: url('./assets/fonts/c4be5717-c19c-43a5-9ad3-b548ddf070d4.eot') format('eot'),
    url('./assets/fonts/4bfd13a9-3195-4d8f-87a9-83a212d18b16.woff2') format('woff2'),
    url('./assets/fonts/63aa9f40-04be-453a-a672-aa8f9919115d.woff') format('woff'),
    url('./assets/fonts/a82a5fb6-ad03-4675-801e-d3182a58ff5f.ttf') format('truetype'),
    url('./assets/fonts/beb2cee2-1a51-44ca-848f-4f795394ee5a.svg#beb2cee2-1a51-44ca-848f-4f795394ee5a') format('svg');
}

@font-face {
  font-family: 'GillSansW01-MediumItali';
  src: url('./assets/fonts/1f6af904-724d-4f75-b836-51c3d674a37e.eot');
  src: url('./assets/fonts/1f6af904-724d-4f75-b836-51c3d674a37e.eot') format('eot'),
    url('./assets/fonts/b01b8a8a-cb45-4c4e-b2bb-e5b8853e6fe6.woff2') format('woff2'),
    url('./assets/fonts/3e18b964-7a6f-4828-8e18-5cc698e1051f.woff') format('woff'),
    url('./assets/fonts/a7622e06-0cde-414a-a25d-5e5f6f5bfcaa.ttf') format('truetype'),
    url('./assets/fonts/ca4569d2-e4c3-4dec-8bfe-52712ef6bc31.svg#ca4569d2-e4c3-4dec-8bfe-52712ef6bc31') format('svg');
}

@font-face {
  font-family: 'Gill Sans W01 Bold';
  src: url('./assets/fonts/1a6dec8e-26f9-4243-8495-835709538f92.eot');
  src: url('./assets/fonts/1a6dec8e-26f9-4243-8495-835709538f92.eot') format('eot'),
    url('./assets/fonts/2029e71f-067d-46a8-bc44-b5c64a258928.woff2') format('woff2'),
    url('./assets/fonts/f05272f9-83e3-4de6-8423-5d57f730c87b.woff') format('woff'),
    url('./assets/fonts/33f5d8d9-105f-4a49-9351-74ecae7f4a49.ttf') format('truetype'),
    url('./assets/fonts/b56150eb-5caa-4385-b907-373e97ddb2ff.svg#b56150eb-5caa-4385-b907-373e97ddb2ff') format('svg');
}

body {
  font-family: 'Gill Sans W04 Book', Helvetica, Arial, sans-serif !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  font-weight: 400 !important;
  line-height: 1.75 !important;
  letter-spacing: 0.005em !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.theme-switcher-fab {
  color: #fff !important;
  right: 16px !important;
  bottom: 16px !important;
  position: fixed !important;
  background-color: #f50057 !important;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out
}

.MuiTypography-h1 span {
  display: inline-grid;
}

.MuiTypography-h1 span::after {
  content: "";
  display: inline-block;
  height: 0.5em;
  position: relative;
  width: 440px;
  right: 0px;
  bottom: 0px;
  border-top: 1.5px solid #f50057;
}

.responsive-h1 {
  font-size: 4.75rem !important;
}

.responsive-h1 span::after {
  width: 85px;
}

.MuiTypography-subtitle1 {
  font-style: italic;
  color: #f50057
}

.usage-code {
  padding: 20px 40px;
  margin: 20px 0;
  background: #333;
  border: 2px solid #f55e41;
  transition: 0.2s all ease;
  display: block;
  border-radius: 5px;
  line-height: 2.5em;
}

.usage-code>span {
  font-size: 1.5em;
}

.usage1 {
  color: #aeded4;
}

.usage2 span {
  color: #ecc2a4;
}

.comment {
  color: #9d9488;
}

.exampleoutput,
.exampleoutput2 {
  display: inline-block;
}

@keyframes octocat-wave {

  0%,
  100% {
    transform: rotate(0)
  }

  20%,
  60% {
    transform: rotate(-25deg)
  }

  40%,
  80% {
    transform: rotate(10deg)
  }
}

@media (max-width:500px) {
  .github-corner:hover .octo-arm {
    animation: none
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out
  }
}
